{%extends 'Base.html'%}
{%load thumbnail%}
{%block title%}
محصولات
{%endblock%}
{%block body%}
<div>
    <form method="post" action="{% url 'home:product_search' %}">
        {% csrf_token %}
        {{form}}
        <button type="submit">Search</button>
    </form>
    <h1>Produce</h1>
        {% for data in category %}
            <a href="{{data.get_absolute_url}}">{{data.name}}</a>
            <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                {% for info in data.sub.all %}
                <li><a class="dropdown-item" href="{{info.get_absolute_url}}">{{info.name}}</a></li>
                {%endfor%}
            </ul>
            </div>
        {%endfor%}
        <div class="row mt-4">
            <div class="col-3">
                <form>
                    <label for="">Price :
                        <div class="multi-range" data-lbound="10" data-ubound="50">
                            <hr/>
                            <input type="range" name='price_1'
                            min = '{{min_price}}' max='{{max_price}}' step='5000' value='{{min_price}}'
                            oninput='this.parentNode.dataset.lbound=this.value;'
                            />
                            <input type="range" name='price_2'
                            min = '{{min_price}}' max='{{max_price}}' step='5000' value='{{max_price}}'
                            oninput='this.parentNode.dataset.ubound=this.value;'
                            />
                        </div>
                    </label><br>
                    <label for="">brand :
                        {{filter.form.brand}}
                    </label><br>

                    <label for="">size :
                        {{filter.form.size}}
                    </label><br>

                    <label for="">color :
                        {{filter.form.color}}
                    </label><br>

                    <button type='submit' class="btn btn-danger">filter</button>
                </form>
            </div>               
        <div class="col-9">
        <div class="row">
        {% for product in products %}
        <div class="col-3">
            <h2>{{product.name}}</h2> 
            <a href="{{product.get_absolute_url}}">
            {%thumbnail product.image '200*200' as img%}
            <img src="{{img.url }}" style="width:300px; height:300px;" alt=""><br>
            {%endthumbnail%}
            </a>
            {% if product.discount %}
                <h5 style="text-decoration: line-through;color:red">{{product.unit_price}}</h5>
                <h3 style="color:green">{{product.total_price}}</h3>
            {%else%}
                <h3>{{product.total_price}}</h3>
            {%endif%}
        </div>
        {%endfor%}
            </div>
            </div>
        </div>
    </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if priducts.has_Previous%}
                <li class="page-item">
                    <a class="page-link" href="?page={{priducts.Previous_page_number}}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{priducts.Previous_page_number}}">{{priducts.Previous_page_number}}</a>
                </li>
               {%endif%}
               
               <li class="page-item">
                <a class="page-link" href="?page={{priducts.number}}">{{priducts.number}}</a>
               </li>

               {% if priducts.has_Next%}
               <li class="page-item">
                <a class="page-link" href="?page={{priducts.Next_page_number}}">{{priducts.Next_page_number}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{priducts.Next_page_number}}">Next</a>
                </li>
               {%endif%}
            </ul>
          </nav>
</div>
    {%endblock%}

  