{%extends 'Base.html'%}
{%block body%}
<div class="container">
    <div class="card mt-5 p-5">
        {% for i in data%}
            <h2>name: {{i.product.name}} &nbsp; price:{{i.order.get_price}}</h2>
            <img src="{{i.product.image.url}}" style="width: 200px; height: 250px;">
            <h3>naddress: {{i.order.address}}</h3>
            {%if i.order.paid == True%}
               <p>پرداخت شده</p> 
            {%else%}
                <p>پرداخت نشده</p>
            {%endif%} 
                <hr>
        {%endfor%}
    </div>
</div>
{%endblock%}