{%extends 'Base.html'%}
{%block title%}
پروفایل
{%endblock%}
{%block body%}
<h1>Profile</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-body-secondary">User : {{ profile.User.username }}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">FirstName : {{ profile.User.first_name }}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">LastName : {{ profile.User.last_name }}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">Email : {{ profile.User.email }}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">Phone : {{ profile.phone }}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">Address : {{ profile.address }}</h6>
      <tr>
        <th> <a href="{%url 'accounts:update'%}">update</a></th>
     </tr>
      <tr>
         <th><a href="{%url 'accounts:change'%}">تغییر رمز عبور</a></th>
     </tr>
    </div>
  </div>
    
{%endblock%}
